{% extends "trucks/base.html" %}


{%block content%}

    <h1>ALL TRUCKS</h1>

    <ol>
        {% for truck in trucks %}
            <li>
                {{truck}}
            </li>

            {% empty %}
                <li>No Trucks recorded</li>

        {% endfor %}


    </ol>

    <hr>

    {% for truck in trucks %}
    <h3>{{ truck.truck_no }}</h3>
    <p>Container : {{truck.container}}</p>
    <p>Exporter:{{truck.exporter}}</p>
    {% endfor %}
    


{%endblock content%}














