{% extends "trucks/base.html" %}


{%block content%}

    <h1>TRUCKS PAGES</h1>

    <p>ADD TRUCKS FORM COMING SOON</p>

    <div class="container">
        <H3>COUNT</H3>
        <p>Client:</p>
        <p>Lutor</p>
        <p>Ashiley: {{ ashiley }}</p>
        <p>DAneva</p>


    </div>




    <hr>



    <table class="table table-dark   table-stripped  table-bordered">

        <tr>
            <th>Date</th>
            <th>Truck</th>
            <th>Container</th>
            <th>Exporter</th>
            <th>Description</th>
            <th>Entry No.</th>
            <th>Client</th>
            <th>Updated By</th>


        </tr>



            {% for truck in trucks %}

            <tr>
                <td>{{ truck.date_handled }}</td>
                <td> {{ truck.truck_no }}</td>
                <td> {{ truck.container }}</td>
                <td> {{ truck.exporter }}</td>
                <td> {{ truck.description }}</td>
                <td> {{ truck.entry_no }}</td>
                <td> {{ truck.client }}</td>
                <td> {{ truck.user }}</td>
            </tr>

    

   


            {% endfor %}



    </table>

   

    
    


{%endblock content%}














